.mainContainer {
  display: flex;
  justify-content: space-between;
}

.div_top_hypers {
  /* background-color: #af1212; */
  display: inline;

  width: 40%;
  margin-left: 10px;
}
.ul_top_hypers li {
  display: inline;
  margin-left: 20px;
}
.ul_top_hypers li a {
  text-decoration: none;
}
.logo {
  height: 75px;
}
.bannner {
  width: 100%;
}
h4 {
  text-align: center;
}
.cards {
  margin: 10px;
  padding: 10px;
  width: 27%;
  height: 200px;
  border: 1px solid;
  border-color: orangered;
  border-radius: 10px;
}
.cardImage {
  width: 40%;
  height: 50;
}
.cardParent {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
